.meanings {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 55vh;
  border: 2px solid #8739f9;
  border-radius: 10px;
  padding: 10px 20px;
  overflow-x: hidden;
}

.subTitle {
  font-size: 5vw;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 900px) {
  .meanings {
    overflow: scroll;
    overflow-x: hidden;
    height: 60vh;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #8739f9;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track {
    background-color: #68607548;
  }
}
.singleMean {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 0;
}
