@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #8739f9;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background-color: #68607548;
}

body {
  font-family: "Poppins", sans-serif;
}
